<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songaw.generator.modules.auths.mapper.BackendApiMapper">
  <resultMap id="BaseResultMap" type="com.songaw.generator.modules.auths.entity.BackendApi">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" />
    <result column="INSERT_USER" jdbcType="BIGINT" property="insertUser" />
    <result column="INSERT_TIME" jdbcType="BIGINT" property="insertTime" />
    <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>

</mapper>